<a href="https://colab.research.google.com/github/Data-Science-East-AFrica/Breast-Cancer-Classification/blob/main/breast_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd

## Creating and shaping the data

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')

In [3]:
df.columns = ['id','clump_thickness','unif_cell_size','unif_cell_shape','marg_adhesion','single_epith_size','bare_nuclei','bland_chrom','norm_nucleoli','mitoses','class']

In [4]:
df.drop(['id'], inplace=True, axis=1)

In [5]:
df.replace('?', -99999, inplace=True)

In [7]:
df['class'] = df['class'].map(lambda x: 1 if x == 4 else 0)

In [8]:
df.head()

   clump_thickness  unif_cell_size  ...  mitoses  class
0                5               4  ...        1      0
1                3               1  ...        1      0
2                6               8  ...        1      0
3                4               1  ...        1      0
4                8              10  ...        1      0

[5 rows x 10 columns]

In [9]:
X = np.array(df.drop(['class'], axis=1))
y = np.array(df['class'])
X.shape

(698, 9)

In [22]:
scaler = preprocessing.MinMaxScaler()

In [21]:
X = scaler.fit_transform(X)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2)

In [20]:
X_train[0]

array([0.22222222, 0.        , 0.        , 0.        , 0.11111111,
       0.        , 0.22222222, 0.        , 0.        ])

## Creating the model and training

In [12]:
from __future__ import print_function
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Activation
import tensorflow as tf

In [13]:
model = Sequential()

In [14]:
model.add(Dense(9, activation='sigmoid', input_shape=(9,)))
model.add(Dense(27, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(Dense(54, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(Dense(27, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(Dense(1, activation='sigmoid'))

In [23]:
model.compile(optimizer=keras.optimizers.Adam(), loss=keras.losses.mean_squared_logarithmic_error)

In [24]:
model.fit(X_train,y_train,batch_size=64,epochs=5,verbose=1, validation_data=(X_test, y_test))

Epoch 1/5
9/9 [==============================] - 15s 77ms/step - loss: 0.1854 - val_loss: 0.1257
Epoch 2/5
9/9 [==============================] - 0s 4ms/step - loss: 0.1170 - val_loss: 0.0662
Epoch 3/5
9/9 [==============================] - 0s 4ms/step - loss: 0.0663 - val_loss: 0.0341
Epoch 4/5
9/9 [==============================] - 0s 4ms/step - loss: 0.0407 - val_loss: 0.0190
Epoch 5/5
9/9 [==============================] - 0s 4ms/step - loss: 0.0242 - val_loss: 0.0120

In [25]:
loss = model.evaluate(X_test, y_test, verbose=1, batch_size=30)

5/5 [==============================] - 0s 3ms/step - loss: 0.0120

In [26]:
print("Final result is {}".format(100-loss*100))

Final result is 98.80014415830374